<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1 class="page-title">Create a post</h1>
    <form action="/create-message" method="POST">
      <input
        name="title"
        placeholder="Enter a title"
        type="text"
        value="<%= message.title %>"
      />
      <input
        name="description"
        placeholder="Enter a description"
        type="text"
        value="<%= message.description %>"
      />
      <button>Submit</button>
    </form>
    <% if (errors) { %>
    <ul class="errors">
      <% errors.forEach((err) => { %>
      <li><%= err.msg %></li>
      <% }) %>
    </ul>
    <% } %>
  </body>
</html>
