<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %> <% if (currentUser) { %>
    <h1>Welcome back <%= currentUser.username %></h1>
    <p>Become a member to see who posted and when.</p>
    <a href="/create-message">Create a post</a>
    <% } else { %>
    <h1>Messages</h1>
    <p>Log in to post a message.</p>
    <% } %>

    <section>
      <% if (messages) { %>
      <ul>
        <% messages.forEach((message) => { %>
        <li>
          <h2><%= message.title %></h2>
          <p><%= message.description %></p>
          <div>
            <% if (currentUser && currentUser.isMember ) { %>
            <p><%= message.author %></p>
            <p><%= message.date %></p>
            <% } else { %>
            <p>author</p>
            <p>timestamp</p>
            <% } %>
          </div>
          <% if (currentUser && currentUser.isAdmin) { %>
          <a class="delete" data-doc="<%= message._id %>"
            ><button>Delete</button></a
          >
          <% } %>
        </li>
        <% }); %>
      </ul>
      <% } else { %>
      <p>There are no messages</p>
      <% } %>
    </section>
    <script>
      const deleteButtons = document.querySelectorAll('.delete');
      deleteButtons.forEach((button) => {
        button.addEventListener('click', (e) => {
          const endpoint = `/create-message/${button.dataset.doc}`;
          fetch(endpoint, {
            method: 'DELETE',
          })
            .then((res) => res.json())
            .then((data) => (window.location.href = data.redirect))
            .catch((err) => console.log(err));
        });
      });
    </script>
  </body>
</html>
