<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1 class="page-title">Sign Up</h1>
    <form action="" method="POST">
      <input
        name="f_name"
        placeholder="First Name*"
        type="text"
        value="<%= user.f_name %>"
      />
      <input
        name="l_name"
        placeholder="Last Name*"
        type="text"
        value="<%= user.l_name%>"
      />
      <input
        name="username"
        placeholder="Username*"
        type="text"
        value="<%= user.username%>"
      />
      <input name="password" placeholder="Password*" type="password" />
      <input
        name="re_password"
        placeholder="Confirm Password*"
        type="password"
      />

      <input
        name="admin_key"
        placeholder="Admin Key(optional)"
        type="password"
      />
      <button>Sign Up</button>
    </form>
    <% if (errors) { %>
    <ul class="errors">
      <% errors.forEach((err) => { %>
      <li><%= err.msg %></li>
      <% }) %>
    </ul>
    <% } %>
  </body>
</html>
